*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( #5e7391);
}

/* PARTE DE CIMA*/
.menu-de-up{
    width: 70%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: url(IMAGENS_MENU/luxa.org-opacity-changed-BK-NAV.png);
    border-radius: 120px;
    z-index: 20;
    position: fixed;
}

.meiuca{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.DivlogoUP{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-up-up{
    width: 79px;
}

.Botoes-do-menu{
    width: 63%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Botoes-do-menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 10px;
}

.Botoes-do-menu a:hover{
    color: rgb(255, 255, 255);
    background-color: blue;
    transform: scale(1.27);
    transition: 90ms;
}

.Profile{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Profile a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Profi-IM{
    width: 52px;
    background-color: white;
    clip-path: circle(47%);
}


.FDA{
    width: 60%;
    height: 42px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
}

.FDA:hover{
    background-color: rgb(56, 56, 167)
}

.FDA a{
    font-size: 25px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
}

.FDA a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(58, 159, 206);
    transform: scale(1.15);
    padding: 3%;
    transition: 90ms;
    font-size: 25px;
    border-radius: 39px;
}

.SEPSEPARACAOCAO{
    width: 100%;
    height: 130px;
}

/* FIM DO MENU */

        .tudo{
            width: 400px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
        }

        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
        }

        button{
            padding: 10px 20px;
            margin-right: 10px;
            cursor: pointer;
        }

        #resultado{
            margin-top: 20px;
            font-size: 20px;
            color:blue;
        }