*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( #5e7391);
}

/* PARTE DE CIMA*/
.menu-de-up{
    width: 70%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 40, 40);
    background-image: url(IMAGENS_MENU/luxa.org-opacity-changed-BK-NAV.png);
    border-radius: 120px;
    z-index: 20;
    position: fixed;
}

.meiuca{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.DivlogoUP{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-up-up{
    width: 79px;
}

.Botoes-do-menu{
    width: 63%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Botoes-do-menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 10px;
}

.Botoes-do-menu a:hover{
    color: black;
    background-color: rgb(255, 0, 0);
    transform: scale(1.27);
    transition: 90ms;
}

.Profile{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Profile a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.Profi-IM{
    width: 52px;
    background-color: white;
    clip-path: circle(47%);
}


.FDA{
    width: 60%;
    height: 42px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
}

.FDA:hover{
    background-color: rgb(180, 81, 0);
}

.FDA a{
    font-size: 25px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
}

.FDA a:hover{
    color: black;
    background-color: rgb(180, 81, 0);
    transform: scale(1.15);
    padding: 3%;
    transition: 90ms;
    font-size: 25px;
    border-radius: 39px;
}

.SEPSEPARACAOCAO{
    width: 100%;
    height: 130px;
}


/* FIM DO MENU */

.imagens{
    display: flex;
    justify-content: center;
    height: 530px;
    
}

.foto{

    width: 430px;
    height: 230px;
    border-radius: 35px;
    margin-left: 10px;
    

}

.pai{

height: 600px;

}

.informacoes{

background-color: rgba(219, 209, 209, 0.397);
height: 500px;
width: 600px;
display: flex;
flex-direction: column;
border-radius: 35px;
position: relative;
left: 70px;

}

.infocarro{

width: 380px;
position: relative;
top: 125px;
left: 20px;

}

span{
color: blue
}

.h2{

font-size: 30px;
font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.sepa{
    width: 100%;
    height: 200px;
}

.p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 62, 62);

}
   
.lista{

width: 400px;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: black;
  margin-left: 20px;
  margin-top: 140px;
}

.ul{

    list-style: none;
    font-size: 25px;

}

.FUNDO-CINZA{
    width: 80%;
    height: 1000px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 200px;
}

/* parte banner */
.banner{
height: 530px;
display: flex;
justify-content: center;
}

.pic{
    width: 100%;
    height: auto;
}


/*Miolo do site*/
.logo-item{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo-item img{
    width: 140px;
    height: 140px;
}

.ICONE-LOGO-MARCA{
 height: 300px;
 width: 300px;
 clip-path: circle(50%);
 display: flex;
 align-items: center;
 justify-content: center;
}



.logo-item a:hover{
  transform: scale(1.5);
  transition: all 830ms ;
  background-color: rgba(0, 0, 0, 0.445);
  clip-path: circle(57%);
}




/*FINAL*/

.FRASES---FINAL{
    background-color: royalblue;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 26px;
    margin-top: 30px;
}

.PART_FINAL{
    width: 100%;
    height: auto;
}

.V8-FINALE{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.filhote--JK{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.cool-legal h3 {
    margin-bottom: 15px;
    font-size: 28px;
}

.cool-legal ul {
    list-style: none;
}

.cool-legal ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.cool-legal ul li a {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-size: 18px;
    margin-top: 10px;
}

.cool-legal ul li a:hover {
    color: rgb(31, 78, 221);
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 15px;
}

.footer-sla-oq{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;

}

.footer-sla-oq p{
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}

.FINAL--loasdas{
    font-size: 30px;
}